#login {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:auto;
    float:left;
    padding:5px; 
}

#header {
    background-color:#9BDFF6;
    color:white;
	height:85px;
    padding:5px;
}

#nav{
	color:black;
    padding:5px;
	height:45px;
	background-color:#71CAEA;
	line-height:30px;
	text-align: center;
}

#footer {
    background-color:#9BDFF6;
    color:white;
	height:85px;
    padding:5px;
    text-align: center;
}

#mainContent{
	width:100%;
	background-color:#ffffff;
	height:auto;
	
}

#centerDiv{
	margin: 0 auto;
    width:625px;
	padding:5px;
	height:auto;
	
}



#bigButton{
	background-color: #9BDFF6;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	height:300px;
    width:300px;
	margin: 5px 5px;
}
