#login {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}

#header {
    background-color:#9BDFF6;
    color:white;
	height:85px;
    padding:5px;
}

#nav{
	color:black;
    padding:5px;
	height:45px;
	background-color:#71CAEA;
	line-height:30px;
	text-align: center;
}
