#login {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}

#header {
    background-color:#AEE7E7;
    color:white;
	height:85px;
    padding:5px;
}
